---
import { getLaunchBy } from "../../services/spacex";
import Layout from "../../layouts/Layout.astro";

export const prerender = false; // Renderização no servidor

const { id } = Astro.params

let launch;
if (id) { // Apenas busque se a ID estiver presente
    launch = await getLaunchBy({ id });
}

/*
export async function getStaticPaths() {
    // chamar api externa
    // para saber todas as IDs que deve gerar caso seja estatico
    const launches = await getLatestLaunches();

    return launches.map(launch => ({
        params: { id: launch.id }
    }));
}
*/

---

<Layout title={`Lançamento ${id}`}>
    <article class="flex gap-y-4 flex-col">
        <img class="w-52 h-auto" src={launch?.links?.patch?.small} alt={launch?.name} />
        <h2 class="text-4xl text-white font-bold">Launch #{launch?.flight_number}</h2>
        <p class="text-lg">{launch?.details}</p>
    </article>
</Layout>
